In [1]:
import pandas as pd
import numpy as np
import json
import requests

In [2]:
batting_data = {}
bowling_data = {}

## Bowling Data

In [3]:
for year in range(2008,2024):
    bowling_data[year] = pd.read_csv(f'runs_wickets_per_season/{year}_bowlers.csv')

In [4]:
for df in list(bowling_data.values())[:-2]:
    df.drop(columns=['Hattricks'],inplace=True)

In [5]:
for df in list(bowling_data.values())[-2:]:
    df.drop(columns=['ClientPlayerID', 'InningsRuns'],inplace=True)

In [6]:
rows = bowling_data[2021].shape[0]
empty_cols = []
for column in bowling_data[2021].columns:
    if column not in ['RightHandedBat','Nationality']:
        empty_rows = bowling_data[2021][column].isnull().sum()
        if empty_rows == rows:
            empty_cols.append(column)
    else:
        continue

In [7]:
empty_cols

['CompetitionID',
 'TeamID',
 'LegalBallsBowled',
 'DotBallPercent',
 'ScoringBallsBowled',
 'BoundaryPercentage',
 'BoundaryFrequency',
 'Ones',
 'Twos',
 'Threes',
 'Wides',
 'NoBalls',
 'Byes',
 'LegBye',
 'InningsWickets',
 'MatchRuns',
 'MatchWickets',
 'MaidenWickets',
 'TenWickets']

In [8]:
for df in bowling_data.values():
    df.drop(columns=empty_cols,inplace=True)

In [9]:
for df in bowling_data.values():
    df.OversBowled = df.OversBowled.astype(str)

In [10]:
for df in bowling_data.values():
    df.drop(columns=['BowlerID'],inplace=True)

In [11]:
for df in bowling_data.values():
    df.rename(columns={'StrikeRate':'BowlingStrikeRate','Sixes':'SixesConceded','Fours':'FoursConceded'},inplace=True)

In [12]:
for df in list(bowling_data.values())[:-2]:
    df.RightHandedBat = False

In [13]:
for df in list(bowling_data.values())[:-1]:
    df.Nationality = df.Nationality.astype(str)
    df.Nationality = df.Nationality.apply(lambda x:None if x == 'nan' else x)

In [14]:
for df in bowling_data.values():
    df.rename(columns={'BowlerName':'Name'},inplace=True)

In [21]:
bowling_data[2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               103 non-null    object
 1   RightHandedBat     103 non-null    bool
 2   Nationality        0 non-null      object
 3   TeamCode           103 non-null    object
 4   TeamName           103 non-null    object
 5   Matches            103 non-null    int64
 6   Innings            103 non-null    int64
 7   TotalRunsConceded  103 non-null    int64
 8   DotBallsBowled     103 non-null    int64
 9   BowlingAverage     103 non-null    float64
 10  BowlingStrikeRate  103 non-null    float64
 11  BowlingSR          103 non-null    float64
 12  EconomyRate        103 non-null    float64
 13  OversBowled        103 non-null    object
 14  FoursConceded      103 non-null    int64
 15  SixesConceded      103 non-null    int64
 16  Wickets            103 non-null    int64
 17  BBIW               103 non-null    object
 18  BBMW               103 non-null    object
 19  Maidens            103 non-null    int64
 20  FourWickets        103 non-null    int64
 21  FiveWickets        103 non-null    int64
dtypes: bool(1), float64(4), int64(10), object(7)
memory usage: 17.1+ KB

In [23]:
for df in bowling_data.values():
    df.drop(columns=['BowlingSR'],inplace=True)

In [25]:
def number_of_balls(overs):
    if '.' in overs:
        over,ball = tuple(map(int,overs.split('.')))
    else:
        over,ball = int(overs),0
    return 6*over + ball

In [26]:
for df in bowling_data.values():
    df['BallsBowled'] = df['OversBowled'].apply(number_of_balls)

In [27]:
bowling_data[2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               103 non-null    object
 1   RightHandedBat     103 non-null    bool
 2   Nationality        0 non-null      object
 3   TeamCode           103 non-null    object
 4   TeamName           103 non-null    object
 5   Matches            103 non-null    int64
 6   Innings            103 non-null    int64
 7   TotalRunsConceded  103 non-null    int64
 8   DotBallsBowled     103 non-null    int64
 9   BowlingAverage     103 non-null    float64
 10  BowlingStrikeRate  103 non-null    float64
 11  EconomyRate        103 non-null    float64
 12  OversBowled        103 non-null    object
 13  FoursConceded      103 non-null    int64
 14  SixesConceded      103 non-null    int64
 15  Wickets            103 non-null    int64
 16  BBIW               103 non-null    object
 17  BBMW               103 non-null    object
 18  Maidens            103 non-null    int64
 19  FourWickets        103 non-null    int64
 20  FiveWickets        103 non-null    int64
 21  BallsBowled        103 non-null    int64
dtypes: bool(1), float64(3), int64(11), object(7)
memory usage: 17.1+ KB

## Batting Data

In [28]:
for year in range(2008,2024):
    batting_data[year] = pd.read_csv(f'runs_seasonwise/batsmen_{year}.csv')

In [35]:
# for df in batting_data.values():
#     df.rename(columns={'StrikerName':'Name'},inplace=True)

In [38]:
# for df in batting_data.values():
#     df.drop(columns=['PlayerId'],inplace=True)

In [39]:
for year in [2008,2021,2022,2023]:
    print(year)
    batting_data[year].info()

2008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            150 non-null    object
 1   Matches         150 non-null    int64
 2   PlayerDOB       150 non-null    object
 3   TeamCode        150 non-null    object
 4   TeamName        150 non-null    object
 5   Innings         150 non-null    int64
 6   TotalRuns       150 non-null    int64
 7   Balls           150 non-null    int64
 8   StrikeRate      150 non-null    float64
 9   Fours           150 non-null    int64
 10  Sixes           150 non-null    int64
 11  Outs            150 non-null    int64
 12  NotOuts         150 non-null    int64
 13  FiftyPlusRuns   150 non-null    int64
 14  Centuries       150 non-null    int64
 15  HighestScore    150 non-null    object
 16  BattingAverage  150 non-null    float64
 17  Nation          150 non-null    object
 18  BattingStyle    150 non-null    object
 19  Nationality     150 non-null    object
 20  RightHandedBat  150 non-null    bool
dtypes: bool(1), float64(2), int64(10), object(8)
memory usage: 23.7+ KB
2021
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            149 non-null    object
 1   Matches         149 non-null    int64
 2   PlayerDOB       149 non-null    object
 3   TeamCode        149 non-null    object
 4   TeamName        149 non-null    object
 5   Innings         149 non-null    int64
 6   TotalRuns       149 non-null    int64
 7   Balls           149 non-null    int64
 8   StrikeRate      149 non-null    float64
 9   Fours           149 non-null    int64
 10  Sixes           149 non-null    int64
 11  Outs            149 non-null    int64
 12  NotOuts         149 non-null    int64
 13  FiftyPlusRuns   149 non-null    int64
 14  Centuries       149 non-null    int64
 15  HighestScore    149 non-null    object
 16  BattingAverage  149 non-null    float64
 17  Nation          149 non-null    object
 18  BattingStyle    149 non-null    object
 19  Nationality     149 non-null    object
 20  RightHandedBat  149 non-null    bool
dtypes: bool(1), float64(2), int64(10), object(8)
memory usage: 23.6+ KB
2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            162 non-null    object
 1   Matches         162 non-null    int64
 2   PlayerDOB       162 non-null    object
 3   TeamCode        162 non-null    object
 4   TeamName        162 non-null    object
 5   Innings         162 non-null    int64
 6   TotalRuns       162 non-null    int64
 7   Balls           162 non-null    int64
 8   StrikeRate      162 non-null    float64
 9   Fours           162 non-null    int64
 10  Sixes           162 non-null    int64
 11  Outs            162 non-null    int64
 12  NotOuts         162 non-null    int64
 13  FiftyPlusRuns   162 non-null    int64
 14  Centuries       162 non-null    int64
 15  HighestScore    162 non-null    object
 16  BattingAverage  162 non-null    object
 17  Nation          162 non-null    object
 18  BattingStyle    162 non-null    object
 19  Nationality     162 non-null    object
 20  RightHandedBat  162 non-null    bool
dtypes: bool(1), float64(1), int64(10), object(9)
memory usage: 25.6+ KB
2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            166 non-null    object
 1   Matches         166 non-null    int64
 2   PlayerDOB       166 non-null    object
 3   TeamCode        166 non-null    object
 4   TeamName        166 non-null    object
 5   Innings         166 non-null    int64
 6   TotalRuns       166 non-null    int64
 7   Balls           166 non-null    int64
 8   StrikeRate      166 non-null    float64
 9   Fours           166 non-null    int64
 10  Sixes           166 non-null    int64
 11  Outs            166 non-null    int64
 12  NotOuts         166 non-null    int64
 13  FiftyPlusRuns   166 non-null    int64
 14  Centuries       166 non-null    int64
 15  HighestScore    166 non-null    object
 16  BattingAverage  166 non-null    object
 17  Nation          166 non-null    object
 18  BattingStyle    166 non-null    object
 19  Nationality     166 non-null    object
 20  RightHandedBat  166 non-null    bool
dtypes: bool(1), float64(1), int64(10), object(9)
memory usage: 26.2+ KB

In [105]:
batting = batting_data[2008]
bowling = bowling_data[2008]

In [106]:
first = pd.merge(batting,bowling,on=['Name'],how='left')
first

,Name,Matches_x,PlayerDOB,TeamCode_x,TeamName_x,Innings_x,TotalRuns,Balls,StrikeRate,Fours,...,OversBowled,FoursConceded,SixesConceded,Wickets,BBIW,BBMW,Maidens,FourWickets,FiveWickets,BallsBowled
0,Shaun Marsh,11,9-7-1983,PBKS,Punjab Kings,11,616,441,139.68,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gautam Gambhir,14,14-10-1981,DC,Delhi Capitals,14,534,379,140.89,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sanath Jayasuriya,14,30-6-1969,MI,Mumbai Indians,14,518,309,167.63,58,...,21,58.0,31.0,4.0,3/14,3/14,1.0,0.0,0.0,126.0
3,Shane Watson,15,17-6-1981,RR,Rajasthan Royals,15,472,311,151.76,47,...,54,47.0,19.0,17.0,4/29,4/29,0.0,0.0,0.0,324.0
4,Graeme Smith,11,1-2-1981,RR,Rajasthan Royals,11,441,362,121.82,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Paidikalva Vijaykumar,9,20-10-1986,DEC,Deccan Chargers,2,1,1,100.00,0,...,25,0.0,0.0,4.0,1/17,1/17,0.0,0.0,0.0,150.0
146,Abdur Razzak,1,15-6-1982,RCB,Royal Challengers Bangalore,1,0,2,0.00,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Abhinav Mukund,2,6-1-1990,CSK,Chennai Super Kings,1,0,1,0.00,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Lakshmipathy Balaji,9,27-9-1981,CSK,Chennai Super Kings,1,0,4,0.00,0,...,33,0.0,0.0,11.0,5/24,5/24,0.0,0.0,1.0,198.0
149,Munaf Patel,15,12-7-1983,RR,Rajasthan Royals,2,0,1,0.00,0,...,55,0.0,0.0,14.0,5/21,5/21,1.0,0.0,0.0,330.0

In [107]:
second = pd.concat([first,bowling],ignore_index=True)
second

D:\Anaconda\lib\site-packages\IPython\lib\pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
D:\Anaconda\lib\site-packages\IPython\core\formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,Name,Matches_x,PlayerDOB,TeamCode_x,TeamName_x,Innings_x,TotalRuns,Balls,StrikeRate,Fours,...,Maidens,FourWickets,FiveWickets,BallsBowled,RightHandedBat,Nationality,TeamCode,TeamName,Matches,Innings
0,Shaun Marsh,11.0,9-7-1983,PBKS,Punjab Kings,11.0,616.0,441.0,139.68,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gautam Gambhir,14.0,14-10-1981,DC,Delhi Capitals,14.0,534.0,379.0,140.89,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sanath Jayasuriya,14.0,30-6-1969,MI,Mumbai Indians,14.0,518.0,309.0,167.63,58.0,...,1.0,0.0,0.0,126.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Shane Watson,15.0,17-6-1981,RR,Rajasthan Royals,15.0,472.0,311.0,151.76,47.0,...,0.0,0.0,0.0,324.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Graeme Smith,11.0,1-2-1981,RR,Rajasthan Royals,11.0,441.0,362.0,121.82,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Dinesh Salunkhe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,48.0,False,None,RR,Rajasthan Royals,6.0,5.0
233,Dwaraka Ravi Teja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,12.0,False,None,DEC,Deccan Chargers,7.0,1.0
234,Mohammad Hafeez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,30.0,False,None,KKR,Kolkata Knight Riders,8.0,2.0
235,Abhishek Nayar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,42.0,False,None,MI,Mumbai Indians,14.0,5.0
236,PM Sarvesh Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,30.0,False,None,DEC,Deccan Chargers,2.0,2.0

In [108]:
final = second.drop_duplicates(subset=['Name'])
final

,Name,Matches_x,PlayerDOB,TeamCode_x,TeamName_x,Innings_x,TotalRuns,Balls,StrikeRate,Fours,...,Maidens,FourWickets,FiveWickets,BallsBowled,RightHandedBat,Nationality,TeamCode,TeamName,Matches,Innings
0,Shaun Marsh,11.0,9-7-1983,PBKS,Punjab Kings,11.0,616.0,441.0,139.68,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gautam Gambhir,14.0,14-10-1981,DC,Delhi Capitals,14.0,534.0,379.0,140.89,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sanath Jayasuriya,14.0,30-6-1969,MI,Mumbai Indians,14.0,518.0,309.0,167.63,58.0,...,1.0,0.0,0.0,126.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Shane Watson,15.0,17-6-1981,RR,Rajasthan Royals,15.0,472.0,311.0,151.76,47.0,...,0.0,0.0,0.0,324.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Graeme Smith,11.0,1-2-1981,RR,Rajasthan Royals,11.0,441.0,362.0,121.82,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Gajendra Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,84.0,False,None,RR,Rajasthan Royals,4.0,4.0
213,Daniel Vettori,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,48.0,False,None,DC,Delhi Capitals,2.0,2.0
225,Brett Geeves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,48.0,False,None,DC,Delhi Capitals,2.0,2.0
226,Andre Nel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,18.0,False,None,MI,Mumbai Indians,1.0,1.0
228,Ajantha Mendis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,24.0,False,None,KKR,Kolkata Knight Riders,1.0,1.0

In [65]:
final[['Name','Innings','Innings_x','Innings_y']].tail(20)

                         Name  Innings  Innings_x  Innings_y
138                Dale Steyn      NaN        2.0       10.0
139           Dhawal Kulkarni      NaN        1.0       10.0
140               Ashok Dinda      NaN        3.0       12.0
141              Pragyan Ojha      NaN        4.0       12.0
142             Iqbal Abdulla      NaN        1.0        NaN
143        Srikkanth Anirudha      NaN        1.0        NaN
144          PM Sarvesh Kumar      NaN        1.0        2.0
145     Paidikalva Vijaykumar      NaN        2.0        9.0
146              Abdur Razzak      NaN        1.0        NaN
147            Abhinav Mukund      NaN        1.0        NaN
148       Lakshmipathy Balaji      NaN        1.0        9.0
149               Munaf Patel      NaN        2.0       15.0
152  Shanthakumaran Sreesanth     15.0        NaN        NaN
171      Muttiah Muralitharan     15.0        NaN        NaN
186           Palani Amarnath      6.0        NaN        NaN
210            Gajendra Singh      4.0        NaN        NaN
213            Daniel Vettori      2.0        NaN        NaN
225              Brett Geeves      2.0        NaN        NaN
226                 Andre Nel      1.0        NaN        NaN
228            Ajantha Mendis      1.0        NaN        NaN

In [66]:
sorted(final.columns)

['BBIW',
 'BBMW',
 'Balls',
 'BallsBowled',
 'BattingAverage',
 'BattingStyle',
 'BowlingAverage',
 'BowlingStrikeRate',
 'Centuries',
 'DotBallsBowled',
 'EconomyRate',
 'FiftyPlusRuns',
 'FiveWickets',
 'FourWickets',
 'Fours',
 'FoursConceded',
 'HighestScore',
 'Innings',
 'Innings_x',
 'Innings_y',
 'Maidens',
 'Matches',
 'Matches_x',
 'Matches_y',
 'Name',
 'Nation',
 'Nationality',
 'Nationality_x',
 'Nationality_y',
 'NotOuts',
 'Outs',
 'OversBowled',
 'PlayerDOB',
 'RightHandedBat',
 'RightHandedBat_x',
 'RightHandedBat_y',
 'Sixes',
 'SixesConceded',
 'StrikeRate',
 'TeamCode',
 'TeamCode_x',
 'TeamCode_y',
 'TeamName',
 'TeamName_x',
 'TeamName_y',
 'TotalRuns',
 'TotalRunsConceded',
 'Wickets']

In [67]:
cols = []
for col in final.columns:
    if '_y' in col:
        cols.append(col)

In [68]:
cols

['RightHandedBat_y',
 'Nationality_y',
 'TeamCode_y',
 'TeamName_y',
 'Matches_y',
 'Innings_y']

In [69]:
final.drop(columns=cols,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1292870714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=cols,inplace=True)

In [70]:
sorted(final.columns)

['BBIW',
 'BBMW',
 'Balls',
 'BallsBowled',
 'BattingAverage',
 'BattingStyle',
 'BowlingAverage',
 'BowlingStrikeRate',
 'Centuries',
 'DotBallsBowled',
 'EconomyRate',
 'FiftyPlusRuns',
 'FiveWickets',
 'FourWickets',
 'Fours',
 'FoursConceded',
 'HighestScore',
 'Innings',
 'Innings_x',
 'Maidens',
 'Matches',
 'Matches_x',
 'Name',
 'Nation',
 'Nationality',
 'Nationality_x',
 'NotOuts',
 'Outs',
 'OversBowled',
 'PlayerDOB',
 'RightHandedBat',
 'RightHandedBat_x',
 'Sixes',
 'SixesConceded',
 'StrikeRate',
 'TeamCode',
 'TeamCode_x',
 'TeamName',
 'TeamName_x',
 'TotalRuns',
 'TotalRunsConceded',
 'Wickets']

In [80]:
final['Innings_x'].dtype

dtype('float64')

In [81]:
final['Matches_x'].dtype

dtype('float64')

In [82]:
final['Nationality_x'].dtype

dtype('O')

In [83]:
final['RightHandedBat_x'].dtype

dtype('O')

In [84]:
final['TeamCode_x'].dtype

dtype('O')

In [85]:
final['TeamName_x'].dtype

dtype('O')

In [86]:
final[['Innings','Innings_x','Matches','Matches_x','Nationality','Nationality_x','RightHandedBat','RightHandedBat_x','TeamCode','TeamCode_x','TeamName','TeamName_x']].tail(20)

,Innings,Innings_x,Matches,Matches_x,Nationality,Nationality_x,RightHandedBat,RightHandedBat_x,TeamCode,TeamCode_x,TeamName,TeamName_x
138,NaN,2.0,NaN,10.0,NaN,Overseas,NaN,True,NaN,RCB,NaN,Royal Challengers Bangalore
139,NaN,1.0,NaN,10.0,NaN,Indian,NaN,True,NaN,MI,NaN,Mumbai Indians
140,NaN,3.0,NaN,13.0,NaN,Indian,NaN,True,NaN,KKR,NaN,Kolkata Knight Riders
141,NaN,4.0,NaN,13.0,NaN,Indian,NaN,False,NaN,DEC,NaN,Deccan Chargers
142,NaN,1.0,NaN,1.0,NaN,Indian,NaN,False,NaN,KKR,NaN,Kolkata Knight Riders
143,NaN,1.0,NaN,1.0,NaN,Indian,NaN,True,NaN,CSK,NaN,Chennai Super Kings
144,NaN,1.0,NaN,2.0,NaN,Indian,NaN,True,NaN,DEC,NaN,Deccan Chargers
145,NaN,2.0,NaN,9.0,NaN,Indian,NaN,True,NaN,DEC,NaN,Deccan Chargers
146,NaN,1.0,NaN,1.0,NaN,Overseas,NaN,False,NaN,RCB,NaN,Royal Challengers Bangalore
147,NaN,1.0,NaN,2.0,NaN,Indian,NaN,False,NaN,CSK,NaN,Chennai Super Kings
148,NaN,1.0,NaN,9.0,NaN,Indian,NaN,True,NaN,CSK,NaN,Chennai Super Kings
149,NaN,2.0,NaN,15.0,NaN,Indian,NaN,True,NaN,RR,NaN,Rajasthan Royals
152,15.0,NaN,15.0,NaN,None,NaN,False,NaN,PBKS,NaN,Punjab Kings,NaN
171,15.0,NaN,15.0,NaN,None,NaN,False,NaN,CSK,NaN,Chennai Super Kings,NaN
186,6.0,NaN,6.0,NaN,None,NaN,False,NaN,CSK,NaN,Chennai Super Kings,NaN
210,4.0,NaN,4.0,NaN,None,NaN,False,NaN,RR,NaN,Rajasthan Royals,NaN
213,2.0,NaN,2.0,NaN,None,NaN,False,NaN,DC,NaN,Delhi Capitals,NaN
225,2.0,NaN,2.0,NaN,None,NaN,False,NaN,DC,NaN,Delhi Capitals,NaN
226,1.0,NaN,1.0,NaN,None,NaN,False,NaN,MI,NaN,Mumbai Indians,NaN
228,1.0,NaN,1.0,NaN,None,NaN,False,NaN,KKR,NaN,Kolkata Knight Riders,NaN

In [109]:
final['Nationality'].fillna(' ')

0
1
2
3
4
      ..
210
213
225
226
228
Name: Nationality, Length: 158, dtype: object

In [87]:
final.drop(columns=['RightHandedBat'],inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1023889212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['RightHandedBat'],inplace=True)

In [89]:
final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\3051209195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)

In [90]:
sorted(final.columns)

['BBIW',
 'BBMW',
 'Balls',
 'BallsBowled',
 'BattingAverage',
 'BattingStyle',
 'BowlingAverage',
 'BowlingStrikeRate',
 'Centuries',
 'DotBallsBowled',
 'EconomyRate',
 'FiftyPlusRuns',
 'FiveWickets',
 'FourWickets',
 'Fours',
 'FoursConceded',
 'HighestScore',
 'Innings',
 'Innings_x',
 'Maidens',
 'Matches',
 'Matches_x',
 'Name',
 'Nation',
 'Nationality',
 'Nationality_x',
 'NotOuts',
 'Outs',
 'OversBowled',
 'PlayerDOB',
 'RightHandedBat',
 'Sixes',
 'SixesConceded',
 'StrikeRate',
 'TeamCode',
 'TeamCode_x',
 'TeamName',
 'TeamName_x',
 'TotalRuns',
 'TotalRunsConceded',
 'Wickets']

In [93]:
team_code = (final['TeamCode'].fillna(' ') + final['TeamCode_x'].fillna(' ')).apply(str.strip)

In [95]:
final.drop(columns=['TeamCode','TeamCode_x'],inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2359325830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['TeamCode','TeamCode_x'],inplace=True)

In [96]:
final['TeamCode'] = team_code

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1912176766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['TeamCode'] = team_code

In [97]:
final.columns

Index(['Name', 'Matches_x', 'PlayerDOB', 'TeamName_x', 'Innings_x',
       'TotalRuns', 'Balls', 'StrikeRate', 'Fours', 'Sixes', 'Outs', 'NotOuts',
       'FiftyPlusRuns', 'Centuries', 'HighestScore', 'BattingAverage',
       'Nation', 'BattingStyle', 'Nationality_x', 'RightHandedBat',
       'TotalRunsConceded', 'DotBallsBowled', 'BowlingAverage',
       'BowlingStrikeRate', 'EconomyRate', 'OversBowled', 'FoursConceded',
       'SixesConceded', 'Wickets', 'BBIW', 'BBMW', 'Maidens', 'FourWickets',
       'FiveWickets', 'BallsBowled', 'Nationality', 'TeamName', 'Matches',
       'Innings', 'TeamCode'],
      dtype='object')

In [99]:
innings = final['Innings'].fillna(0) + final['Innings_x'].fillna(0)

In [100]:
final.drop(columns=['Innings','Innings_x'],inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1709074651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['Innings','Innings_x'],inplace=True)

In [101]:
final['Innings'] = innings

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2345746005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['Innings'] = innings

In [102]:
final.columns

Index(['Name', 'Matches_x', 'PlayerDOB', 'TeamName_x', 'TotalRuns', 'Balls',
       'StrikeRate', 'Fours', 'Sixes', 'Outs', 'NotOuts', 'FiftyPlusRuns',
       'Centuries', 'HighestScore', 'BattingAverage', 'Nation', 'BattingStyle',
       'Nationality_x', 'RightHandedBat', 'TotalRunsConceded',
       'DotBallsBowled', 'BowlingAverage', 'BowlingStrikeRate', 'EconomyRate',
       'OversBowled', 'FoursConceded', 'SixesConceded', 'Wickets', 'BBIW',
       'BBMW', 'Maidens', 'FourWickets', 'FiveWickets', 'BallsBowled',
       'Nationality', 'TeamName', 'Matches', 'TeamCode', 'Innings'],
      dtype='object')

### Creating a combined dataframe for each year

In [148]:
combined = {}
for year in range(2008,2024):
    batting = batting_data[year]
    bowling = bowling_data[year]
    
    first = pd.merge(batting,bowling,on=['Name'],how='left')
    
    second = pd.concat([first,bowling],ignore_index=True)
    
    final = second.drop_duplicates(subset=['Name'])
    
    cols = []
    for col in final.columns:
        if '_y' in col:
            cols.append(col)
            
    final.drop(columns=cols,inplace=True)
    
    final.drop(columns=['RightHandedBat'],inplace=True)
    final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)
    
    for feature in ['TeamCode','TeamName','Nationality']:
        temp = (final[feature].fillna(' ') + final[f'{feature}_x'].fillna(' ')).apply(str.strip)
        final.drop(columns=[feature,f'{feature}_x'],inplace=True)
        final[feature] = temp
        
    for feature in ['Innings','Matches']:
        temp = final[feature].fillna(0) + final[f'{feature}_x'].fillna(0)
        final.drop(columns=[feature,f'{feature}_x'],inplace=True)
        final[feature] = temp
        
    combined[year] = final

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=cols,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['RightHandedBat'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=cols,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['RightHandedBat'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=cols,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['RightHandedBat'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=cols,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['RightHandedBat'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=cols,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['RightHandedBat'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=cols,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=['RightHandedBat'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={'RightHandedBat_x':'RightHandedBat'},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop(columns=[feature,f'{feature}_x'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\2612723143.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final[feature] = temp

In [149]:
for df in combined.values():
    df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 228
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               158 non-null    object
 1   PlayerDOB          150 non-null    object
 2   TotalRuns          150 non-null    float64
 3   Balls              150 non-null    float64
 4   StrikeRate         150 non-null    float64
 5   Fours              150 non-null    float64
 6   Sixes              150 non-null    float64
 7   Outs               150 non-null    float64
 8   NotOuts            150 non-null    float64
 9   FiftyPlusRuns      150 non-null    float64
 10  Centuries          150 non-null    float64
 11  HighestScore       150 non-null    object
 12  BattingAverage     150 non-null    float64
 13  Nation             150 non-null    object
 14  BattingStyle       150 non-null    object
 15  RightHandedBat     150 non-null    object
 16  TotalRunsConceded  87 non-null     float64
 17  DotBallsBowled     87 non-null     float64
 18  BowlingAverage     87 non-null     float64
 19  BowlingStrikeRate  87 non-null     float64
 20  EconomyRate        87 non-null     float64
 21  OversBowled        87 non-null     object
 22  FoursConceded      87 non-null     float64
 23  SixesConceded      87 non-null     float64
 24  Wickets            87 non-null     float64
 25  BBIW               87 non-null     object
 26  BBMW               87 non-null     object
 27  Maidens            87 non-null     float64
 28  FourWickets        87 non-null     float64
 29  FiveWickets        87 non-null     float64
 30  BallsBowled        87 non-null     float64
 31  TeamCode           158 non-null    object
 32  TeamName           158 non-null    object
 33  Nationality        158 non-null    object
 34  Innings            158 non-null    float64
 35  Matches            158 non-null    float64
dtypes: float64(24), object(12)
memory usage: 45.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 0 to 208
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               137 non-null    object
 1   PlayerDOB          130 non-null    object
 2   TotalRuns          130 non-null    float64
 3   Balls              130 non-null    float64
 4   StrikeRate         130 non-null    float64
 5   Fours              130 non-null    float64
 6   Sixes              130 non-null    float64
 7   Outs               130 non-null    float64
 8   NotOuts            130 non-null    float64
 9   FiftyPlusRuns      130 non-null    float64
 10  Centuries          130 non-null    float64
 11  HighestScore       130 non-null    object
 12  BattingAverage     130 non-null    float64
 13  Nation             130 non-null    object
 14  BattingStyle       130 non-null    object
 15  RightHandedBat     130 non-null    object
 16  TotalRunsConceded  81 non-null     float64
 17  DotBallsBowled     81 non-null     float64
 18  BowlingAverage     81 non-null     float64
 19  BowlingStrikeRate  81 non-null     float64
 20  EconomyRate        81 non-null     float64
 21  OversBowled        81 non-null     object
 22  FoursConceded      81 non-null     float64
 23  SixesConceded      81 non-null     float64
 24  Wickets            81 non-null     float64
 25  BBIW               81 non-null     object
 26  BBMW               81 non-null     object
 27  Maidens            81 non-null     float64
 28  FourWickets        81 non-null     float64
 29  FiveWickets        81 non-null     float64
 30  BallsBowled        81 non-null     float64
 31  TeamCode           137 non-null    object
 32  TeamName           137 non-null    object
 33  Nationality        137 non-null    object
 34  Innings            137 non-null    float64
 35  Matches            137 non-null    float64
dtypes: float64(24), object(12)
memory usage: 39.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 168 entries, 0 to 249
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               168 non-null    object
 1   PlayerDOB          153 non-null    object
 2   TotalRuns          153 non-null    float64
 3   Balls              153 non-null    float64
 4   StrikeRate         153 non-null    float64
 5   Fours              153 non-null    float64
 6   Sixes              153 non-null    float64
 7   Outs               153 non-null    float64
 8   NotOuts            153 non-null    float64
 9   FiftyPlusRuns      153 non-null    float64
 10  Centuries          153 non-null    float64
 11  HighestScore       153 non-null    object
 12  BattingAverage     153 non-null    float64
 13  Nation             153 non-null    object
 14  BattingStyle       153 non-null    object
 15  RightHandedBat     153 non-null    object
 16  TotalRunsConceded  97 non-null     float64
 17  DotBallsBowled     97 non-null     float64
 18  BowlingAverage     97 non-null     float64
 19  BowlingStrikeRate  97 non-null     float64
 20  EconomyRate        97 non-null     float64
 21  OversBowled        97 non-null     object
 22  FoursConceded      97 non-null     float64
 23  SixesConceded      97 non-null     float64
 24  Wickets            97 non-null     float64
 25  BBIW               97 non-null     object
 26  BBMW               97 non-null     object
 27  Maidens            97 non-null     float64
 28  FourWickets        97 non-null     float64
 29  FiveWickets        97 non-null     float64
 30  BallsBowled        97 non-null     float64
 31  TeamCode           168 non-null    object
 32  TeamName           168 non-null    object
 33  Nationality        168 non-null    object
 34  Innings            168 non-null    float64
 35  Matches            168 non-null    float64
dtypes: float64(24), object(12)
memory usage: 48.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 0 to 257
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               184 non-null    object
 1   PlayerDOB          161 non-null    object
 2   TotalRuns          161 non-null    float64
 3   Balls              161 non-null    float64
 4   StrikeRate         161 non-null    float64
 5   Fours              161 non-null    float64
 6   Sixes              161 non-null    float64
 7   Outs               161 non-null    float64
 8   NotOuts            161 non-null    float64
 9   FiftyPlusRuns      161 non-null    float64
 10  Centuries          161 non-null    float64
 11  HighestScore       161 non-null    object
 12  BattingAverage     161 non-null    float64
 13  Nation             161 non-null    object
 14  BattingStyle       161 non-null    object
 15  RightHandedBat     161 non-null    object
 16  TotalRunsConceded  97 non-null     float64
 17  DotBallsBowled     97 non-null     float64
 18  BowlingAverage     97 non-null     float64
 19  BowlingStrikeRate  97 non-null     float64
 20  EconomyRate        97 non-null     float64
 21  OversBowled        97 non-null     object
 22  FoursConceded      97 non-null     float64
 23  SixesConceded      97 non-null     float64
 24  Wickets            97 non-null     float64
 25  BBIW               97 non-null     object
 26  BBMW               97 non-null     object
 27  Maidens            97 non-null     float64
 28  FourWickets        97 non-null     float64
 29  FiveWickets        97 non-null     float64
 30  BallsBowled        97 non-null     float64
 31  TeamCode           184 non-null    object
 32  TeamName           184 non-null    object
 33  Nationality        184 non-null    object
 34  Innings            184 non-null    float64
 35  Matches            184 non-null    float64
dtypes: float64(24), object(12)
memory usage: 53.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 257
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               175 non-null    object
 1   PlayerDOB          157 non-null    object
 2   TotalRuns          157 non-null    float64
 3   Balls              157 non-null    float64
 4   StrikeRate         157 non-null    float64
 5   Fours              157 non-null    float64
 6   Sixes              157 non-null    float64
 7   Outs               157 non-null    float64
 8   NotOuts            157 non-null    float64
 9   FiftyPlusRuns      157 non-null    float64
 10  Centuries          157 non-null    float64
 11  HighestScore       157 non-null    object
 12  BattingAverage     157 non-null    float64
 13  Nation             157 non-null    object
 14  BattingStyle       157 non-null    object
 15  RightHandedBat     157 non-null    object
 16  TotalRunsConceded  101 non-null    float64
 17  DotBallsBowled     101 non-null    float64
 18  BowlingAverage     101 non-null    float64
 19  BowlingStrikeRate  101 non-null    float64
 20  EconomyRate        101 non-null    float64
 21  OversBowled        101 non-null    object
 22  FoursConceded      101 non-null    float64
 23  SixesConceded      101 non-null    float64
 24  Wickets            101 non-null    float64
 25  BBIW               101 non-null    object
 26  BBMW               101 non-null    object
 27  Maidens            101 non-null    float64
 28  FourWickets        101 non-null    float64
 29  FiveWickets        101 non-null    float64
 30  BallsBowled        101 non-null    float64
 31  TeamCode           175 non-null    object
 32  TeamName           175 non-null    object
 33  Nationality        175 non-null    object
 34  Innings            175 non-null    float64
 35  Matches            175 non-null    float64
dtypes: float64(24), object(12)
memory usage: 50.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 187 entries, 0 to 261
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               187 non-null    object
 1   PlayerDOB          158 non-null    object
 2   TotalRuns          158 non-null    float64
 3   Balls              158 non-null    float64
 4   StrikeRate         158 non-null    float64
 5   Fours              158 non-null    float64
 6   Sixes              158 non-null    float64
 7   Outs               158 non-null    float64
 8   NotOuts            158 non-null    float64
 9   FiftyPlusRuns      158 non-null    float64
 10  Centuries          158 non-null    float64
 11  HighestScore       158 non-null    object
 12  BattingAverage     158 non-null    float64
 13  Nation             158 non-null    object
 14  BattingStyle       158 non-null    object
 15  RightHandedBat     158 non-null    object
 16  TotalRunsConceded  107 non-null    float64
 17  DotBallsBowled     107 non-null    float64
 18  BowlingAverage     107 non-null    float64
 19  BowlingStrikeRate  107 non-null    float64
 20  EconomyRate        107 non-null    float64
 21  OversBowled        107 non-null    object
 22  FoursConceded      107 non-null    float64
 23  SixesConceded      107 non-null    float64
 24  Wickets            107 non-null    float64
 25  BBIW               107 non-null    object
 26  BBMW               107 non-null    object
 27  Maidens            107 non-null    float64
 28  FourWickets        107 non-null    float64
 29  FiveWickets        107 non-null    float64
 30  BallsBowled        107 non-null    float64
 31  TeamCode           187 non-null    object
 32  TeamName           187 non-null    object
 33  Nationality        187 non-null    object
 34  Innings            187 non-null    float64
 35  Matches            187 non-null    float64
dtypes: float64(24), object(12)
memory usage: 54.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 220
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               147 non-null    object
 1   PlayerDOB          132 non-null    object
 2   TotalRuns          132 non-null    float64
 3   Balls              132 non-null    float64
 4   StrikeRate         132 non-null    float64
 5   Fours              132 non-null    float64
 6   Sixes              132 non-null    float64
 7   Outs               132 non-null    float64
 8   NotOuts            132 non-null    float64
 9   FiftyPlusRuns      132 non-null    float64
 10  Centuries          132 non-null    float64
 11  HighestScore       132 non-null    object
 12  BattingAverage     132 non-null    float64
 13  Nation             132 non-null    object
 14  BattingStyle       132 non-null    object
 15  RightHandedBat     132 non-null    object
 16  TotalRunsConceded  89 non-null     float64
 17  DotBallsBowled     89 non-null     float64
 18  BowlingAverage     89 non-null     float64
 19  BowlingStrikeRate  89 non-null     float64
 20  EconomyRate        89 non-null     float64
 21  OversBowled        89 non-null     object
 22  FoursConceded      89 non-null     float64
 23  SixesConceded      89 non-null     float64
 24  Wickets            89 non-null     float64
 25  BBIW               89 non-null     object
 26  BBMW               89 non-null     object
 27  Maidens            89 non-null     float64
 28  FourWickets        89 non-null     float64
 29  FiveWickets        89 non-null     float64
 30  BallsBowled        89 non-null     float64
 31  TeamCode           147 non-null    object
 32  TeamName           147 non-null    object
 33  Nationality        147 non-null    object
 34  Innings            147 non-null    float64
 35  Matches            147 non-null    float64
dtypes: float64(24), object(12)
memory usage: 42.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 211
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               139 non-null    object
 1   PlayerDOB          129 non-null    object
 2   TotalRuns          129 non-null    float64
 3   Balls              129 non-null    float64
 4   StrikeRate         129 non-null    float64
 5   Fours              129 non-null    float64
 6   Sixes              129 non-null    float64
 7   Outs               129 non-null    float64
 8   NotOuts            129 non-null    float64
 9   FiftyPlusRuns      129 non-null    float64
 10  Centuries          129 non-null    float64
 11  HighestScore       129 non-null    object
 12  BattingAverage     129 non-null    float64
 13  Nation             129 non-null    object
 14  BattingStyle       129 non-null    object
 15  RightHandedBat     129 non-null    object
 16  TotalRunsConceded  84 non-null     float64
 17  DotBallsBowled     84 non-null     float64
 18  BowlingAverage     84 non-null     float64
 19  BowlingStrikeRate  84 non-null     float64
 20  EconomyRate        84 non-null     float64
 21  OversBowled        84 non-null     object
 22  FoursConceded      84 non-null     float64
 23  SixesConceded      84 non-null     float64
 24  Wickets            84 non-null     float64
 25  BBIW               84 non-null     object
 26  BBMW               84 non-null     object
 27  Maidens            84 non-null     float64
 28  FourWickets        84 non-null     float64
 29  FiveWickets        84 non-null     float64
 30  BallsBowled        84 non-null     float64
 31  TeamCode           139 non-null    object
 32  TeamName           139 non-null    object
 33  Nationality        139 non-null    object
 34  Innings            139 non-null    float64
 35  Matches            139 non-null    float64
dtypes: float64(24), object(12)
memory usage: 40.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 211
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               139 non-null    object
 1   PlayerDOB          129 non-null    object
 2   TotalRuns          129 non-null    float64
 3   Balls              129 non-null    float64
 4   StrikeRate         129 non-null    float64
 5   Fours              129 non-null    float64
 6   Sixes              129 non-null    float64
 7   Outs               129 non-null    float64
 8   NotOuts            129 non-null    float64
 9   FiftyPlusRuns      129 non-null    float64
 10  Centuries          129 non-null    float64
 11  HighestScore       129 non-null    object
 12  BattingAverage     129 non-null    float64
 13  Nation             129 non-null    object
 14  BattingStyle       129 non-null    object
 15  RightHandedBat     129 non-null    object
 16  TotalRunsConceded  84 non-null     float64
 17  DotBallsBowled     84 non-null     float64
 18  BowlingAverage     84 non-null     float64
 19  BowlingStrikeRate  84 non-null     float64
 20  EconomyRate        84 non-null     float64
 21  OversBowled        84 non-null     object
 22  FoursConceded      84 non-null     float64
 23  SixesConceded      84 non-null     float64
 24  Wickets            84 non-null     float64
 25  BBIW               84 non-null     object
 26  BBMW               84 non-null     object
 27  Maidens            84 non-null     float64
 28  FourWickets        84 non-null     float64
 29  FiveWickets        84 non-null     float64
 30  BallsBowled        84 non-null     float64
 31  TeamCode           139 non-null    object
 32  TeamName           139 non-null    object
 33  Nationality        139 non-null    object
 34  Innings            139 non-null    float64
 35  Matches            139 non-null    float64
dtypes: float64(24), object(12)
memory usage: 40.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 221
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               152 non-null    object
 1   PlayerDOB          136 non-null    object
 2   TotalRuns          136 non-null    float64
 3   Balls              136 non-null    float64
 4   StrikeRate         136 non-null    float64
 5   Fours              136 non-null    float64
 6   Sixes              136 non-null    float64
 7   Outs               136 non-null    float64
 8   NotOuts            136 non-null    float64
 9   FiftyPlusRuns      136 non-null    float64
 10  Centuries          136 non-null    float64
 11  HighestScore       136 non-null    object
 12  BattingAverage     136 non-null    float64
 13  Nation             136 non-null    object
 14  BattingStyle       136 non-null    object
 15  RightHandedBat     136 non-null    object
 16  TotalRunsConceded  86 non-null     float64
 17  DotBallsBowled     86 non-null     float64
 18  BowlingAverage     86 non-null     float64
 19  BowlingStrikeRate  86 non-null     float64
 20  EconomyRate        86 non-null     float64
 21  OversBowled        86 non-null     object
 22  FoursConceded      86 non-null     float64
 23  SixesConceded      86 non-null     float64
 24  Wickets            86 non-null     float64
 25  BBIW               86 non-null     object
 26  BBMW               86 non-null     object
 27  Maidens            86 non-null     float64
 28  FourWickets        86 non-null     float64
 29  FiveWickets        86 non-null     float64
 30  BallsBowled        86 non-null     float64
 31  TeamCode           152 non-null    object
 32  TeamName           152 non-null    object
 33  Nationality        152 non-null    object
 34  Innings            152 non-null    float64
 35  Matches            152 non-null    float64
dtypes: float64(24), object(12)
memory usage: 43.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 211
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               145 non-null    object
 1   PlayerDOB          138 non-null    object

### Finding the missing data in combined dataframes

In [150]:
from googlesearch import search
import time

In [151]:
combined[2008][['Name','Nation','BattingStyle','PlayerDOB']].tail(15)

                         Name      Nation BattingStyle   PlayerDOB
143        Srikkanth Anirudha       India          rhb   14-4-1987
144          PM Sarvesh Kumar       India          rhb   26-4-1989
145     Paidikalva Vijaykumar       India          rhb  20-10-1986
146              Abdur Razzak  Bangladesh          lhb   15-6-1982
147            Abhinav Mukund       India          lhb    6-1-1990
148       Lakshmipathy Balaji       India          rhb   27-9-1981
149               Munaf Patel       India          rhb   12-7-1983
152  Shanthakumaran Sreesanth         NaN          NaN         NaN
171      Muttiah Muralitharan         NaN          NaN         NaN
186           Palani Amarnath         NaN          NaN         NaN
210            Gajendra Singh         NaN          NaN         NaN
213            Daniel Vettori         NaN          NaN         NaN
225              Brett Geeves         NaN          NaN         NaN
226                 Andre Nel         NaN          NaN         NaN
228            Ajantha Mendis         NaN          NaN         NaN

In [152]:
name = 'Daniel Vettori'
row = combined[2008][combined[2008]['Name']==name].index.values[0]

In [153]:
row

213

In [159]:
combined[2008].loc[row,'Nation'] is np.nan

True

In [136]:
def googler(query):
    for url in search(query,num=10):
        if 'https://www.espncricinfo.com/cricketers' in url:
            return url

In [137]:
def get_player_id(s):
    player_id = ""
    for character in s.split('-')[-1]:
        if character in '1234567890':
            player_id = player_id + character
        else:
            break
    return player_id

In [160]:
for df in combined.values():
    for name in df['Name']:
        
        row = df[df['Name']==name].index.values[0]
        
        if df.loc[row,'Nation'] is np.nan:
            try:
                espn_url = googler(name)
                
                player_id = get_player_id(espn_url)

                url = 'https://hs-consumer-api.espncricinfo.com/v1/pages/player/home?playerId=' + player_id

                response = requests.get(url)

                player_dict = json.loads(response.content.decode())

                dob = player_dict['player']['dateOfBirth']

                df.at[row,'PlayerDOB'] = f"{dob['date']}-{dob['month']}-{dob['year']}"

                df.at[row,'BattingStyle'] = player_dict['player']['battingStyles'][0]

                df.at[row,'Nation'] = player_dict['player']['country']['name']

            except Exception as e:
                print(f'{name} : {e}')

            time.sleep(3)
            
        else:
            continue

In [166]:
combined[2008][['Name','Nation','Nationality','PlayerDOB','BattingStyle','RightHandedBat']].tail(30)

,Name,Nation,Nationality,PlayerDOB,BattingStyle,RightHandedBat
128,Younis Khan,Pakistan,Overseas,29-11-1977,rhb,True
129,Doddapaneni Kalyankrishna,India,Indian,16-12-1983,rhb,True
130,Manish Pandey,India,Indian,10-9-1989,rhb,True
131,Mohammad Asif,Pakistan,Overseas,20-12-1982,lhb,False
132,Ashish Nehra,India,Indian,29-4-1979,rhb,True
133,Halhadar Das,India,Indian,10-12-1986,rhb,True
134,Vikrant Yeligati,India,Indian,23-4-1985,rhb,True
135,Shoaib Akhtar,Pakistan,Overseas,13-8-1975,rhb,True
136,Dilhara Fernando,Sri Lanka,Overseas,19-7-1979,rhb,True
137,Pradeep Sangwan,India,Indian,5-11-1990,rhb,True
138,Dale Steyn,South Africa,Overseas,27-6-1983,rhb,True
139,Dhawal Kulkarni,India,Indian,10-12-1988,rhb,True
140,Ashok Dinda,India,Indian,25-3-1984,rhb,True
141,Pragyan Ojha,India,Indian,5-9-1986,lhb,False
142,Iqbal Abdulla,India,Indian,2-12-1989,lhb,False
143,Srikkanth Anirudha,India,Indian,14-4-1987,rhb,True
144,PM Sarvesh Kumar,India,Indian,26-4-1989,rhb,True
145,Paidikalva Vijaykumar,India,Indian,20-10-1986,rhb,True
146,Abdur Razzak,Bangladesh,Overseas,15-6-1982,lhb,False
147,Abhinav Mukund,India,Indian,6-1-1990,lhb,False
148,Lakshmipathy Balaji,India,Indian,27-9-1981,rhb,True
149,Munaf Patel,India,Indian,12-7-1983,rhb,True
152,Shanthakumaran Sreesanth,India,,6-2-1983,rhb,NaN
171,Muttiah Muralitharan,Sri Lanka,,17-4-1972,rhb,NaN
186,Palani Amarnath,India,,1-6-1982,rhb,NaN
210,Gajendra Singh,India,,10-9-1988,rhb,NaN
213,Daniel Vettori,New Zealand,,27-1-1979,lhb,NaN
225,Brett Geeves,Australia,,13-6-1982,rhb,NaN
226,Andre Nel,South Africa,,15-7-1977,rhb,NaN
228,Ajantha Mendis,Sri Lanka,,11-3-1985,rhb,NaN

In [167]:
for df in combined.values():
    df['IsIndian'] = df['Nation'].apply(lambda x: 'Indian' if x == 'India' else 'Overseas')
    df['IsRightHanded'] = df['BattingStyle'].apply(lambda x: True if x == 'rhb' else False)
    df.drop(columns=['Nationality','RightHandedBat'],inplace=True)
    df.rename(columns={'IsIndian':'Nationality','IsRightHanded':'RightHandedBat'},inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1277928377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsIndian'] = df['Nation'].apply(lambda x: 'Indian' if x == 'India' else 'Overseas')
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1277928377.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsRightHanded'] = df['BattingStyle'].apply(lambda x: True if x == 'rhb' else False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1277928377.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Nationality','RightHandedBat'],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13068\1277928377.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'IsIndian':'Nationality','IsRightHanded':'RightHandedBat'},inplace=True)

In [181]:
combined[2019][['Name','Nation','Nationality','PlayerDOB','BattingStyle','RightHandedBat']].tail(30)

,Name,Nation,Nationality,PlayerDOB,BattingStyle,RightHandedBat
131,Mohammad Shami,India,Indian,3-9-1990,rhb,True
132,Joe Denly,England,Overseas,16-3-1986,rhb,True
133,Mohit Sharma,India,Indian,18-9-1988,rhb,True
134,Sam Billings,England,Overseas,15-6-1991,rhb,True
135,Harshal Patel,India,Indian,23-11-1990,rhb,True
136,Prithvi Raj Yarra,India,Indian,20-2-1998,lhb,False
137,Mujeeb Ur Rahman,Afghanistan,Overseas,28-3-2001,rhb,True
138,Andrew Tye,Australia,Overseas,12-12-1986,rhb,True
139,Sandeep Lamichhane,Nepal,Overseas,2-8-2000,rhb,True
140,Siddarth Kaul,India,Indian,19-5-1990,rhb,True
141,Khaleel Ahmed,India,Indian,5-12-1997,rhb,True
142,Prasidh Krishna,India,Indian,19-2-1996,rhb,True
143,Jasprit Bumrah,India,Indian,6-12-1993,rhb,True
144,Imran Tahir,South Africa,Overseas,27-3-1979,rhb,True
153,Lasith Malinga,Sri Lanka,Overseas,28-8-1983,rhb,True
184,Alzarri Joseph,West Indies,Overseas,20-11-1996,rhb,True
187,Jason Behrendorff,Australia,Overseas,20-4-1990,rhb,True
189,Oshane Thomas,West Indies,Overseas,18-2-1997,lhb,False
192,Dale Steyn,South Africa,Overseas,27-6-1983,rhb,True
199,Arshdeep Singh,India,Indian,5-2-1999,lhb,False
201,Ankit Rajpoot,India,Indian,4-12-1993,rhb,True
206,Shahbaz Nadeem,India,Indian,12-8-1989,rhb,True
207,Scott Kuggeleijn,New Zealand,Overseas,3-1-1992,rhb,True
208,Sandeep Warrier,India,Indian,4-4-1991,rhb,True
214,Lockie Ferguson,New Zealand,Overseas,13-6-1991,rhb,True
218,Varun Chakaravarthy,India,Indian,29-8-1991,rhb,True
220,Kulwant Khejroliya,India,Indian,13-3-1992,lhb,False
223,Karn Sharma,India,Indian,23-10-1987,lhb,False
225,Anukul Roy,India,Indian,30-11-1998,lhb,False
229,Jayant Yadav,India,Indian,22-1-1990,rhb,True

## Saving the obtained results

In [169]:
import os
os.makedirs('seasonwise/runs',exist_ok=True)
os.makedirs('seasonwise/wickets',exist_ok=True)
os.makedirs('seasonwise/combined',exist_ok=True)

In [170]:
for year,df in batting_data.items():
    df.to_csv(f'seasonwise/runs/runs_{year}.csv',index=False)

In [171]:
for year,df in bowling_data.items():
    df.to_csv(f'seasonwise/wickets/wickets_{year}.csv',index=False)

In [172]:
for year,df in combined.items():
    df.to_csv(f'seasonwise/combined/combined_{year}.csv',index=False)

In [182]:
for df in combined.values():
    print(df.shape[0])

158
137
168
184
175
187
147
139
139
152
145
161
144
162
186
198

In [183]:
for df in batting_data.values():
    print(df.shape[0])

150
130
153
161
157
158
132
129
129
136
138
144
133
149
162
166

In [184]:
for df in bowling_data.values():
    print(df.shape[0])

87
81
97
97
101
107
89
84
84
86
82
87
78
89
103
113

In [188]:
combined[2023].columns

Index(['Name', 'PlayerDOB', 'TotalRuns', 'Balls', 'StrikeRate', 'Fours',
       'Sixes', 'Outs', 'NotOuts', 'FiftyPlusRuns', 'Centuries',
       'HighestScore', 'BattingAverage', 'Nation', 'BattingStyle',
       'TotalRunsConceded', 'DotBallsBowled', 'BowlingAverage',
       'BowlingStrikeRate', 'EconomyRate', 'OversBowled', 'FoursConceded',
       'SixesConceded', 'Wickets', 'BBIW', 'BBMW', 'Maidens', 'FourWickets',
       'FiveWickets', 'BallsBowled', 'TeamCode', 'TeamName', 'Innings',
       'Matches', 'Nationality', 'RightHandedBat'],
      dtype='object')

In [189]:
combined[2023][combined[2023]['TeamCode'] == 'CSK'][['Name','PlayerDOB','TotalRuns','Balls','Outs','Wickets','BallsBowled','TotalRunsConceded']]

,Name,PlayerDOB,TotalRuns,Balls,Outs,Wickets,BallsBowled,TotalRunsConceded
2,Devon Conway,8-7-1991,672.0,481.0,13.0,NaN,NaN,NaN
6,Ruturaj Gaikwad,31-1-1997,590.0,400.0,14.0,NaN,NaN,NaN
12,Shivam Dube,26-6-1993,418.0,264.0,11.0,NaN,NaN,NaN
28,Ajinkya Rahane,6-6-1988,326.0,189.0,10.0,NaN,NaN,NaN
50,Ravindra Jadeja,6-12-1988,190.0,133.0,8.0,20.0,342.0,431.0
56,Ambati Rayudu,23-9-1985,158.0,113.0,10.0,NaN,NaN,NaN
65,Moeen Ali,18-6-1987,124.0,91.0,7.0,9.0,156.0,195.0
72,MS Dhoni,7-7-1981,104.0,57.0,4.0,NaN,NaN,NaN
123,Ben Stokes,4-6-1991,15.0,14.0,2.0,NaN,NaN,NaN
151,Mitchell Santner,5-2-1992,2.0,4.0,0.0,3.0,72.0,81.0
158,Deepak Chahar,7-8-1992,1.0,2.0,0.0,13.0,204.0,297.0
171,Tushar Deshpande,15-5-1995,NaN,NaN,NaN,21.0,341.0,564.0
175,Matheesha Pathirana,18-12-2002,NaN,NaN,NaN,19.0,278.0,371.0
193,Maheesh Theekshana,1-8-2000,NaN,NaN,NaN,11.0,294.0,392.0
228,Akash Singh,26-4-2002,NaN,NaN,NaN,5.0,114.0,188.0
247,Rajvardhan Hangargekar,10-11-2002,NaN,NaN,NaN,3.0,36.0,60.0
266,Sisanda Magala,7-1-1991,NaN,NaN,NaN,1.0,36.0,51.0